{% extends 'base.html.twig' %}

{% block body %}
{% include "profile/nav.html.twig" %}

    <div class="log">
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

		<div class="input-cont">

			{{ form_widget(form.email) }}
			{{form_label(form.email)}}
            {{form_errors(form.email)}}
			<div class="border1"></div>
		</div>

		<div class="input-cont">

			{{ form_widget(form.name)}}
			{{form_label(form.name)}}
            {{form_errors(form.name)}}
			<div class="border2"></div>
		</div>

		<div class="input-cont">

			{{ form_widget(form.username)}}
			{{form_label(form.username)}}
            {{form_errors(form.username)}}
			<div class="border2"></div>
		</div>

		<div class="input-cont">
			{{ form_widget(form.phone)}}
			{{form_label(form.phone)}}
            {{form_errors(form.phone)}}
			<div class="border2"></div>
		</div>
		<div class="clear"></div>

		<input type="submit" value="Modifier" onclick="return confirm('Cela va modifer vos informations personnelles: cliquez pour confirmer');">

    {{form_end(form)}}
</div>
{% endblock %}
