{% extends "base.html.twig" %}
{% block title %}Étude de Maître Régis Richard - Vos favoris

{% endblock %}
{% block body %}
	<section class="annonce">
		<div class="annonce__blockTitle">
			<h3>Mes favoris</h3>
		</div>
		<div class="annonce__blockCard">
			{% if is_granted("ROLE_USER") %}
				{% for user in users %}
					{% for fav in user.favoris %}
						<div class="annonce__card" data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-duration="500">
							<a href="{{ path('frontAnnonce_show', {'slug': fav.slug}) }}">
								<img src="{{ asset('assets/uploads/' ~ fav.image) | imagine_filter('card_front') }}" alt="{{ fav.title }}">
								<h4>{{ fav.title }}</h4>
								<p>{{ fav.description }}</p>
								{% for f in fav.favoris %}
									<p>
										<a class="favoris" href="{{ path('remove_favoris', {id: fav.id}) }}">Retirer</a>
									</p>
								{% endfor %}
							</a>
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
	</section>
{% endblock %}
