{% extends "base.html.twig" %}
{% block body %}
{% include "profile/nav.html.twig" %}
<h1>Page favori</h1>

{% if is_granted("ROLE_USER") %}
    {% for user in users %}
            {% for fav in user.favoris %}
            
                    <div class="annonces">
                        <div class="annonce">
                            <h2>{{ fav.title }}</h2>
                            <p>{{ fav.description }}</p>
                            <div><img src="{{ asset('assets/uploads/' ~ fav.image) }}" alt="{{ fav.image }}"></div>
                            {% for f in fav.favoris %}
                                <span><a href="{{ path('remove_favoris', {id: fav.id}) }}"><i class="fas fa-heart-broken">retirer des favoris</i><i class="fas fa-heart-broken"></i></a></span>
                            {% endfor %}
                        </div>
                    </div>
            {% endfor %}
    {% endfor %}
{% endif %}

{% endblock %}
