{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="menu">
    <nav class="nav2">
        <ul>
            <li><a href="{{ path('profile') }}">Menu Pricipal De L'escpace Client</a></li>
            <li><a href="{{ path('notif') }}">Massagerie</a></li>
            <li><a href="{{ path('infos_perso') }}">Informations Personnelles</a></li>
            <li><a href="{{ path('favoris') }}">Favoris</a></li>
        </ul>
    </nav>
</div>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Stella/OneDrive/Bureau/Notaire/src/Controller/ProfileController.php'|file_link(0) }}">src/Controller/ProfileController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Stella/OneDrive/Bureau/Notaire/templates/profile/index.html.twig'|file_link(0) }}">templates/profile/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
