<a class="action" href="{{ path('frontAnnonce_show', {'id': annonce.id}) }}">
	<img src="{{ annonce.image }}" alt="" class="container_cardimg">
	<h4>{{ annonce.title }}</h4>
	<p>{{ annonce.description }}</p>
	<p>{{ annonce.price | number_format(0,',', ' ')}}€</p>
	{% for c in annonce.category %}
		<p class="étiquette">#{{ c.title }}</p>
	{% endfor %}
</a>
