<a href="{{ path('frontAnnonce_show', {'slug': annonce.slug}) }}">
	<img  src="{{asset('assets/images/devanture.jpg')}}">
	<h4>{{ annonce.title }}</h4>
	<p>{{ annonce.description }}</p>
	<p>{{ annonce.price | number_format(0,',', ' ')}}€</p>
	{% for c in annonce.category %}
		<p class="étiquette">#{{ c.title }}</p>
	{% endfor %}
</a>
