{{ form_start(form, {attr: {class: 'filter'}}) }}
    <div class="status"></div>
    {{ form_row(form.status) }}
    <h4>Categories</h4>
    {{ form_row(form.category) }}
    <h4>Département</h4>
    {{ form_row(form.departement) }}
    <h4>Villes</h4>
    {{ form_row(form.ville) }}
    <h4>Prix</h4>
    {{ form_row(form.min) }}
    {{ form_row(form.max) }}
    <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}" style="margin:40px 200px"></div>
    <button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}