<section class="filter">
	{{ form_start(form, {attr: {class: 'filter'}}) }}
	<div class="filter_container">
			<div class="filter_select">
				<h4 class="filter_title">Status</h4>
				{{ form_widget(form.status) }}
			</div>
			<div class="filter_selects">
				<h4 class="filter_title">Catégories</h4>
				{{ form_widget(form.category) }}
			</div>

			<div class="filter_select">
				<h4 class="filter_title">Département</h4>
				{{ form_widget(form.departement) }}
			</div>
			<div class="filter_select">
				<h4 class="filter_title">Villes</h4>
				{{ form_widget(form.ville) }}
			</div>
	</div>

	<div class="filter_prix">
		<h4 class="filter_title">Prix</h4>
		{{ form_widget(form.min) }}
		{{ form_widget(form.max) }}
		<div id="price-slider" class="filter_barre" data-min="{{ min }}" data-max="{{ max }}"></div>
	</div>


	<button class="filter_btn" type="submit">Filtrer</button>
	{{ form_end(form) }}
</section>
