{% extends "base.html.twig" %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <div class="allAnnonces">
        <h1>Annonce index</h1>
        <div class="annonces">
            {% for annonce in annonces %}
                <div class="annonce">
                    <h2>{{ annonce.title }}</h2>
                    <p>{{ annonce.description }}</p>
                    <p><img src="{{ annonce.image }}" alt=""></p>
                    <p><a class="action" href="{{ path('annonce_show', {'id': annonce.id}) }}">Voir</a></p>
                    {% if is_granted("ROLE_USER") %}
                        {% for favoris in annonce.favoris %}
                            {% if favoris.id == app.user.id %}
                                <a href="{{ path('retrait_favoris', {id: annonce.id}) }}"><i class="fas fa-heart"></i></a>
                            {% else %}
                                <a href="{{ path('ajout_favoris', {id: annonce.id}) }}"><i class="far fa-heart"></i></a>
                            {% endif %}
                    {% else %}
                            <a href="{{ path('ajout_favoris', {id: annonce.id}) }}"><i class="far fa-heart"></i></a>
                        {% endfor %}	
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
