{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section class="container">
		<div class="container_img">
			<img class="container_imge" src="{{asset('assets/uploads/pascal-bernardon-TVcj-so0GDs-unsplash.jpg')}}" alt="">
		</div>
		<div class="container_dixAns">
			<h1>Nous avons 10 ans d'expérience dans différent cas</h1>
		</div>
		<div class="container_proposIMG">
			<div class="container_propos">
				<h2>À Propos</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam consectetur laboriosam accusamus
										      repudiandae adipisci officia amet reiciendis, dignissimos beatae enim facilis at laudantium eligendi incidunt, 
										      impedit necessitatibus excepturi fugit voluptates rerum eveniet nesciunt sequi autem. Sed,
										      a officiis, et sapiente voluptatem distinctio quo similique non fugiat, assumenda voluptas placeat quam?</p>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam consectetur laboriosam accusamus
										      repudiandae adipisci officia amet reiciendis, dignissimos beatae enim facilis at laudantium eligendi incidunt, 
										      impedit necessitatibus excepturi fugit voluptates rerum eveniet nesciunt sequi autem. Sed,
										      a officiis, et sapiente voluptatem distinctio quo similique non fugiat, assumenda voluptas placeat quam?</p>
			</div>
			<div class="container_img">
				<img class="container_imgs" src="{{asset('assets/uploads/pascal-bernardon-TVcj-so0GDs-unsplash.jpg')}}" alt="">
			</div>
		</div>
		<div class="container_allAnnonces">
			<div class="container_h2Annonces">
				<h3>Les dernières annonces immobilières</h3>
				<p>Que vous soyez vendeur ou acquéreur, vous trouverez chez votre notaire le service complet vous garantissant la bone fin de votre opération</p>
			</div>
			<div class="container_Annonces">
				<div class="container_allAnnonces">
					<div class="container_annonces">
						{% for annonce in annonces %}
							<div class="container_annonce">
								<a class="action" href="{{ path('frontAnnonce_show', {'id': annonce.id}) }}">
									<img class="container_cardimg" src="{{ asset('assets/uploads/' ~ annonce.image) }}" alt="{{ annonce.image }}">
									<h3>{{ annonce.title }}</h3>
									<p>{{ annonce.description }}</p>
									<div class="container_coeur">
										{% if is_granted("ROLE_USER") %}
											{% for favoris in annonce.favoris %}
												{% if favoris.id == app.user.id %}
													<span>
														<a href="{{ path('retrait_favoris', {id: annonce.id}) }}">
															<i class="fas fa-heart"></i>
														</a>
													</span>
												{% else %}
													<span>
														<a href="{{ path('ajout_favoris', {id: annonce.id}) }}">
															<i class="far fa-heart"></i>
														</a>
													</span>
												{% endif %}
											{% else %}
												<span>
													<a href="{{ path('ajout_favoris', {id: annonce.id}) }}">
														<i class="far fa-heart"></i>
													</a>
												</span>
											{% endfor %}
										{% endif %}
									</div>
								</a>
							</div>
							{# .annonce #}
						{% endfor %}
					</div>
					{# .annonces #}
				</div>
				{# .allAnnonces #}
			</div>
		</div>
	</section>


{% endblock %}
