{% extends 'base.html.twig' %}

{% block body %}
	<script>
		"dpeges.js"</script>
	<section class="presentation">
		<div class="presentation__agence">
			<img src="{{asset('assets/images/devanture.jpg')}}" alt="">
			{% for flashError in app.flashes('message') %}
				<div class="flash" data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-duration="500">{{ flashError }}</div>
			{% endfor %}
		</div>
	</section>


	<section class="apropos">
		<div class="apropos__dixAns">
			<h1>Nous avons 10 ans d'expérience dans différent cas</h1>
			<div id="dpe"></div>
			<div id="ges"></div>
		</div>
		<div class="apropos__block">
			<div class="apropos__propos">
				<h2>À Propos</h2>
				<p>Bienvenue sur L'étude Maître Régis Richard. Située à Épaignes, à 15 min de Pont-Audemer, à 5 min de Cormeilles et 2h de Paris, notre agence vous propose une sélection de biens immobiliers dans les cantons de l'Eure.</p>
				<p>
					Demeures Normande, Maisons contemporaines, appartements ou produits d’investissement, les biens que nous vous présentons répondent aux mêmes critères de qualité.</p>
				<p>Notre portefeuille immobilier vous permet de consulter des annonces immobilières à Honfleur, Saint-Georges-du-Vièvre, Épaignes, Pont-l'Évêque, Bourneville, Saint-Eustache-la-Forêt, Lieurey, Bourg-Achard, Pont-Audemer, Bernay, Toutainville, Cormeilles, Beuzeville, Montfort-sur-Risle, Brionne, ...
																																			A bientôt</p>
			</div>
			<div>
				<img class="apropos__imgs" src="{{asset('assets/images/devanture.jpg')}}" alt="">
			</div>
		</div>
	</section>

	<section class="annonce">
		<div class="annonce__blockTitle">
			<h3>Les dernières annonces immobilières</h3>
			<p>Que vous soyez vendeur ou acquéreur, vous trouverez chez votre notaire le service complet vous garantissant la bonne fin de votre opération</p>
		</div>
		<div class="annonce__blockCard">
			{% for annonce in annonces %}
				<div class="annonce__card" data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-duration="500">
					<a href="{{ path('frontAnnonce_show', {'slug': annonce.slug}) }}">
						<img src="{{ asset('/assets/uploads/'~ annonce.image) | imagine_filter('card_front') }}" alt="{{ annonce.title }}"/>
						<h4>{{ annonce.title }}</h4>
						<p>{{ annonce.description }}</p>
						<div class="annonce__coeur">
							{% if is_granted("ROLE_USER") %}
								{% for favoris in annonce.favoris %}
									{% if favoris.id == app.user.id %}
										<span>
											<a href="{{ path('retrait_favoris', {id: annonce.id}) }}">
												<i class="fas fa-heart fa-hearts fa fullHearth"></i>
												<i class="fas fa-heart fa-hearts heart-color"></i>
											</a>
										</span>
									{% else %}
										<span>
											<a href="{{ path('ajout_favoris', {id: annonce.id}) }}">
												<i class="far fa-heart fa fa-hearts heart"></i>
												<i class="far fa-heart fa-hearts heart-color"></i>
											</a>
										</span>
									{% endif %}
								{% else %}
									<span>
										<a href="{{ path('ajout_favoris', {id: annonce.id}) }}">
											<i class="fas fa-heart fa fa-hearts heart"></i>
											<i class="fas fa-heart fa-hearts heart-color"></i>
										</a>
									</span>
								{% endfor %}
							{% endif %}
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		<p>
			<a class="annonce__voirplus" href="{{path('annonces')}}">Voir plus</a>
		</p>
	</section>
{% endblock %}
