{% extends 'base.html.twig' %}
{% block title %}
	Étude de Maître Régis Richard - À Propos de nous
{% endblock %}

{% block body %}
	<section>
		<div class="boite">
			<h1 class="boite__title">À Propos de nous</h1>
			<p class="boite__para">
				<a href="{{path('home')}}">Accueil</a>
				- À propos
			</p>
		</div>
	</section>
	<section class="apropos">
		<div class="apropos__block">
			<div class="apropos__propos">
				<h2>À Propos</h2>
				<p>Au coeur du Lieuvin Pays d'Auge, L'office Notariale est située à la sortie de THIBERVILLE en direction de BERNAY, et son annexe sur la place principale d'EPAIGNES.</p>
				<p>L’équipe se met au service de la clientèle dans tous les domaines traditionnels du notariat :</p>
				<p>- droit de la famille : contrats de mariage, contrats de PACS, donations, partages, divorces, règlements de successions</p>
				<p>- droit de l'immobilier et de l'urbanisme : promesses de vente, actes de vente, négociation immobilière, expertise immobilière, contrats de location, lotissements, promotion immobilière</p>
				<p>- droit des affaires : ventes de fonds de commerce et entreprises, constitutions et cessions de sociétés, baux commerciaux</p>
				<p>- conseil en organisation patrimoniale, conseil juridique et fiscal.</p>
				<p>L’Etude est dotée des technologies les plus modernes pour améliorer le service à la clientèle : dématérialisation des actes notariés (actes authentique électroniques), visioconférence, signature des actes à distance, démarche "zéro papier".</p>
				<p>Nous sommes à votre disposition pour vous renseigner, vous conseiller et vous accompagner dans tous vos projets personnels et professionnels.</p>
				<p>N'hésitez pas à nous contacter pour toute question.</p>
			</div>
			<div>
				<img class="apropos__imgs" src="{{asset('assets/images/devanture.jpg')}}" alt="">
			</div>
		</div>
	</section>

	<section class="services">
		<h3 class="services__title">Équipes</h3>

		<div class="services__boites">
			<div class="services__perso">
				<img src="{{asset('assets/images/users.jpg')}}" alt="">
				<h4>Maître Régis RICHARD</h4>
				<p>Notaire</p>
				<a href="mailto:regis.richard@notaires.fr">regis.richard@notaires.fr</a>
				<a href="mailto:etude.epaigne.27052@notaires.fr">etude.epaigne.27052@notaires.fr</a>
			</div>
			<div class="services__perso">
				<img src="{{asset('assets/images/user.jpg')}}" alt="">
				<h4>Séverine BEDEL</h4>
				<p>Assistante Notariale au droit des successions</p>
				<a href="mailto:succession.27052@notaires.fr">succession.27052@notaires.fr</a>
			</div>
			<div class="services__perso">
				<img src="{{asset('assets/images/userst.jpg')}}" alt="">
				<h4>Hélène RICHARD</h4>
				<p>Clerc de Notaire des actes courants</p>
				<a href="mailto:accueil.27052@notaires.fr">accueil.27052@notaires.fr</a>
			</div>
			<div class="services__perso">
				<img src="{{asset('assets/images/userst.jpg')}}" alt="">
				<h4>Sandra PERRET</h4>
				<p>Comptabilité gestion</p>
				<a href="mailto:comptabilite.27052@notaires.fr">comptabilite.27052@notaires.fr</a>
			</div>
			<div class="services__perso">
				<img src="{{asset('assets/images/userst.jpg')}}" alt="">
				<h4>Eve LEMASSON</h4>
				<p>Négociation immobilière</p>
				<a href="mailto:immobilier.27052@notaires.fr">immobilier.27052@notaires.fr</a>
			</div>
			<div class="services__perso">
				<img src="{{asset('assets/images/userst.jpg')}}" alt="">
				<h4>Sylvie PODEVIN</h4>
				<p>Formalités</p>
				<a href="mailto:formalite.27052@notaires.fr">formalite.27052@notaires.fr</a>
			</div>
		</div>
	</section>
{% endblock %}
