{% extends 'base.html.twig' %}

{% block body %}
	<section>
		<div class="container_boite">
			<h1 class="container_title">À Propos de nous</h1>
			<p class="container_para">Acceuil - À propos - Nos compétences</p>
		</div>
		<div class="container_proposIMG">
			<div class="container_propos">
				<h2>À Propos</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi itaque nobis beatae. Provident doloribus obcaecati voluptatibus, reiciendis porro explicabo facilis qui perspiciatis harum minima hic aspernatur eum deserunt soluta?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi itaque nobis beatae. Provident doloribus obcaecati voluptatibus, reiciendis porro explicabo facilis qui perspiciatis harum minima hic aspernatur eum deserunt soluta?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi itaque nobis beatae. Provident doloribus obcaecati voluptatibus, reiciendis porro explicabo facilis qui perspiciatis harum minima hic aspernatur eum deserunt soluta?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi itaque nobis beatae. Provident doloribus obcaecati voluptatibus, reiciendis porro explicabo facilis qui perspiciatis harum minima hic aspernatur eum deserunt soluta?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi itaque nobis beatae. Provident doloribus obcaecati voluptatibus, reiciendis porro explicabo facilis qui perspiciatis harum minima hic aspernatur eum deserunt soluta?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi itaque nobis beatae. Provident doloribus obcaecati voluptatibus, reiciendis porro explicabo facilis qui perspiciatis harum minima hic aspernatur eum deserunt soluta?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta animi itaque nobis beatae. Provident doloribus obcaecati voluptatibus, reiciendis porro explicabo facilis qui perspiciatis harum minima hic aspernatur eum deserunt soluta?<br></p>
			</div>
			<div class="container_img">
				<img class="container_imgs container_preimg" src="{{asset('assets/uploads/pascal-bernardon-TVcj-so0GDs-unsplash.jpg')}}" alt="">
			</div>
		</div>
		<div class="container_services">
			<h2 class="container_title">Équipes</h2>
			<p class="container_para">Lorem ipsum dolor sit amet consectetur adipisicing elit?</p>

			<div class="container_boites">
				<div class="container_perso">
					<img src="{{asset('assets/uploads/christopher-campbell-rDEOVtE7vOs-unsplash.jpg')}}" alt="">
					<h4>Family Law</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequatur quod distinctio voluptate atque quos quae fugiat! Consequuntur, quis sint.</p>
				</div>
				<div class="container_perso">
					<img src="{{asset('assets/uploads/christopher-campbell-rDEOVtE7vOs-unsplash.jpg')}}" alt="">
					<h4>Family Law</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequatur quod distinctio voluptate atque quos quae fugiat! Consequuntur, quis sint.</p>
				</div>

				<div class="container_perso">
					<img src="{{asset('assets/uploads/christopher-campbell-rDEOVtE7vOs-unsplash.jpg')}}" alt="">
					<h4>Family Law</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequatur quod distinctio voluptate atque quos quae fugiat! Consequuntur, quis sint.</p>
				</div>

				<div class="container_perso">
					<img src="{{asset('assets/uploads/christopher-campbell-rDEOVtE7vOs-unsplash.jpg')}}" alt="">
					<h4>Family Law</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequatur quod distinctio voluptate atque quos quae fugiat! Consequuntur, quis sint.</p>
				</div>

				<div class="container_perso">
					<img src="{{asset('assets/uploads/christopher-campbell-rDEOVtE7vOs-unsplash.jpg')}}" alt="">
					<h4>Family Law</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequatur quod distinctio voluptate atque quos quae fugiat! Consequuntur, quis sint.</p>
				</div>

				<div class="container_perso">
					<img src="{{asset('assets/uploads/christopher-campbell-rDEOVtE7vOs-unsplash.jpg')}}" alt="">
					<h4>Family Law</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, consequatur quod distinctio voluptate atque quos quae fugiat! Consequuntur, quis sint.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
