{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		<h1 class="mb-5">Annonce</h1>
		
			    <p>{{ annonce.title }}</p>
				<p>{{ annonce.description }}</p>
				<p>{{ annonce.image }}</p>
				<p>{{ annonce.superficie }}</p>
				<p>{{ annonce.superficieTerrain }}</p>
				<p>{{ annonce.price }}</p>
				<p>{{ annonce.status ? 'Yes' : 'No' }}</p>
				<p>{{ annonce.etat ? 'Yes' : 'No' }}</p>
				<p>{{ annonce.dpe }}</p>
				<p>{{ annonce.ges }}</p>
				<p>{{ annonce.nbrePieces }}</p>
				<p>{{ annonce.nbreChambre }}</p>
				<p>{{ annonce.salleBain }}</p>
				<p>{{ annonce.wc }}</p>
				<p>{{ annonce.garage }}</p>
				<p>{{ annonce.piscine }}</p>

				<div id ="dpe"> </div> 
				<div id ="ges"> </div>

		<script src ="../../assets/dpeges.js"></script> 
		<script type ="text/javascript"> 
			var dpe = new DpeGes();
			dpe.dpe({
			domId: 'dpe',
			value: 210,
			});
			var ges = new DpeGes();
			ges.ges({
				domId: 'ges',
				value: 'C'
			});
		</script>
	</div>

{% endblock %}
