{% extends 'base.html.twig' %}

{% block title %}Region{% endblock %}

{% block body %}
    <h1>Region</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ region.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ region.createdAt ? region.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModifiedAt</th>
                <td>{{ region.modifiedAt ? region.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('region_index') }}">back to list</a>

    <a href="{{ path('region_edit', {'id': region.id}) }}">edit</a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}
