{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actif</th>
                <th>region</th>
                <th>category</th>
                <th>CreatedAt</th>
                <th>ModifiedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.actif ? 'Yes' : 'No' }}</td>
                <td>{{ annonce.region.title  }}</td>
                <td>{% for category in annonce.categorys %}
                        {{ category.title }}
                    {% else %}
                        no category
                     {% endfor %}
                </td>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('d/m/Y à H:i') : '' }}</td>
                <td>{{ annonce.modifiedAt ? annonce.modifiedAt|date('d/m/Y à H:i') : '' }}</td>
                <td>
                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>
                    <p>{{ include('annonce/_delete_form.html.twig') }}</p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('annonce_new') }}">Créer un nouveau</a>
{% endblock %}
