{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="p-5">
	{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
	{{ form_row(form.category) }}
	{{ form_row(form.departement) }}
	{{ form_row(form.ville) }}
	{{ form_row(form.status) }}
	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	{{ form_row(form.superficie) }}
	{{ form_row(form.superficieTerrain) }}
	{{ form_row(form.dpe) }}
	{{ form_row(form.ges) }}
	{{ form_row(form.nbrePieces) }}
	{{ form_row(form.nbreChambre) }}
	{{ form_row(form.salleBain) }}
	{{ form_row(form.wc) }}
	{{ form_row(form.garage) }}
	{{ form_row(form.piscine) }}
	{{ form_row(form.price) }}
	{{ form_row(form.fileimage,{'id': 'customFileInput'}) }}
	<div class="test">
		{{ form_row(form.image, { 'attr': {'class': 'test'} }) }}
	</div>
	
	{{ form_row(form.etat) }}
	{# Vérifier si la route est "annonces_dit" : on affiche les images #}
	{% if app.request.attributes.get('_route') == 'annonce_edit' %}
		<p>Image(s) de l'annonce</p>
		<div class="flex flex-wrap">
			{% for image in annonce.images %}
				{% if annonce.images != null %}
					<div class="images mb-5">
						<div class="img m-2"><img src="{{ asset('assets/uploads/'~ image.name) | imagine_filter('flex_back') }}" alt="{{annonce.title}}"></div>
						<a class="ml-4 action btn btn-danger text-light" href="{{ path('annonce_delete_image', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">supprimer</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>

	{% endif %}
	<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
	{{ form_end(form) }}
</div>
<script>
	document.querySelector('.custom-file-input').addEventListener('change', function (e) {
var name = document.getElementById("customFileInput").files[0].name;
var nextSibling = e.target.nextElementSibling
nextSibling.innerText = name
})
</script>
