{% extends 'back.html.twig' %}
{% block title %}Les Annonces
{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		<h1 class="mb-5">Annonce</h1>
		<a class="btn btn-primary mb-2" href="{{ path('admin') }}">Retour</a>
		<a class="btn btn-primary mb-2" href="{{ path('annonce_new') }}">Ajouter une annonce</a>
		<table class="table">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Description</th>
					<th>Image</th>
					<th>Prix</th>
					<th>Status</th>
					<th>État</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for annonce in annonces %}
					<tr>
						<td>{{ annonce.title }}</td>
						<td>{{ annonce.description }}</td>
						<td><img src="{{ asset('assets/uploads/'~ annonce.image) }}" alt="" width="150" height="150"></td>
						<td>{{ annonce.price }}</td>
						<td>{{ annonce.status ? 'Vente' : 'Location' }}</td>
						<td>{{ annonce.etat ? 'rien' ? 'Vendu' : 'Loué'}}</td>
						<td>
							<a class="action" href="{{ path('annonce_show', {'id': annonce.id}) }}">Voir</a>
							<a class="action" href="{{ path('annonce_edit', {'id': annonce.id}) }}">Éditer</a>
							<a class="text-warning" href="{{ path('add_new_images', {'id': annonce.id}) }}">Upload images</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="18">Pas d'éléments</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
