{% extends 'back.html.twig' %}
{% block title %}Les Annonces
{% endblock %}

{% block body %}
<div class="pl-5 pr-5">
    <h1 class="mb-5">Annonce</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Image</th>
				<th>Superficie</th>
				<th>SuperficieTerrain</th>
				<th>Price</th>
				<th>Status</th>
				<th>Etat</th>
				<th>Dpe</th>
				<th>Ges</th>
				<th>NbrePieces</th>
				<th>NbreChambre</th>
				<th>SalleBain</th>
				<th>Wc</th>
				<th>Garage</th>
				<th>Piscine</th>
				{# <th>image</th> #}
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for annonce in annonces %}
				<tr>
					<td>{{ annonce.id }}</td>
					<td>{{ annonce.title }}</td>
					<td>{{ annonce.description }}</td>
					<td>{{ annonce.image }}</td>
					<td>{{ annonce.superficie }}</td>
					<td>{{ annonce.superficieTerrain }}</td>
					<td>{{ annonce.price }}</td>
					<td>{{ annonce.status ? 'Vente' : 'Location' }}</td>
					<td>{{ annonce.etat }}</td>
					<td>{{ annonce.dpe }}</td>
					<td>{{ annonce.ges }}</td>
					<td>{{ annonce.nbrePieces }}</td>
					<td>{{ annonce.nbreChambre }}</td>
					<td>{{ annonce.salleBain }}</td>
					<td>{{ annonce.wc }}</td>
					<td>{{ annonce.garage }}</td>
					<td>{{ annonce.piscine }}</td>
					{# <td><img src="{{ annonce.piscine }}" alt=""></td> #}
					<td>
						<a href="{{ path('annonce_show', {'id': annonce.id}) }}">Voir</a>
						<a href="{{ path('annonce_edit', {'id': annonce.id}) }}">Éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="18">Pas d'éléments</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

    <a class="btn btn-primary mt-5 pl-4 pr-4" href="{{ path('annonce_new') }}">Créez</a>
</div>
{% endblock %}


