{% extends 'back.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		<h1 class="mb-5">Annonce</h1>
		<div class="flex mb-3">
			<a class="btn btn-primary  " href="{{ path('annonce_index') }}">Retour</a>
			{{ include('annonce/_delete_form.html.twig') }}
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ annonce.id }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ annonce.title }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ annonce.description }}</td>
				</tr>
				<tr>
					<th>Superficie(m²)</th>
					<td>{{ annonce.superficie }}</td>
				</tr>
				<tr>
					<th>Superficie Terrain(m²)</th>
					<td>{{ annonce.superficieTerrain }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ annonce.price }}</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>{{ annonce.status ? 'Vente' : 'Location' }}</td>
				</tr>
				<tr>
					<th>Diagnostic de perfomance énergétique</th>
					<td>{{ annonce.dpe }}</td>
				</tr>
				<tr>
					<th>Gaz à effet de serre</th>
					<td>{{ annonce.ges }}</td>
				</tr>
				<tr>
					<th>Nombre de pieces</th>
					<td>{{ annonce.nbrePieces }}</td>
				</tr>
				<tr>
					<th>Nombre de chambres</th>
					<td>{{ annonce.nbreChambre }}</td>
				</tr>
				<tr>
					<th>Salle de Bain</th>
					<td>{{ annonce.salleBain }}</td>
				</tr>
				<tr>
					<th>Toilettes</th>
					<td>{{ annonce.wc }}</td>
				</tr>
				<tr>
					<th>Garage</th>
					<td>{{ annonce.garage }}</td>
				</tr>
				<tr>
					<th>Piscine</th>
					<td>{{ annonce.piscine }}</td>
				</tr>
				<tr>
					<th>Crée le</th>
					<td>{{ annonce.createdAt ? annonce.createdAt|date('d/m/Y à H:i') : '' }}</td>
				</tr>
				<tr>
					<th>Modifier le</th>
					<td>{{ annonce.modifiedAt ? annonce.modifiedAt|date('d/m/Y à H:i') : '' }}</td>
				</tr>
			</tbody>
		</table>

	</div>

	

{% endblock %}
