{% extends 'back.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<div class="pl-5 pr-5">
		<h1 class="mb-5">Categories</h1>

		<table class="table boxshadow">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Description</th>
					<th>Créez le</th>
					<th>Modifiez le</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.title }}</td>
						<td>{{ category.description }}</td>
						<td>{{ category.createdAt ? category.createdAt|date('d/m/Y à H:i') : '' }}</td>
						<td>{{ category.modifiedAt ? category.modifiedAt|date('d/m/Y à H:i') : '' }}</td>
						<td>
							<a class="action" href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
							<a class="action" href="{{ path('category_edit', {'id': category.id}) }}">Éditer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'éléments</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<a class="btn btn-primary ml-5" href="{{ path('category_new') }}">Créez</a>
{% endblock %}
