{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="ml-5 mr-5">
  {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
  <div class="test">
    {{ form_row(form.name) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
  </div>
  {{ form_row(form.roles, {'attr': {'class':'select'}}) }}
  <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
  {{ form_end(form) }}
</div>
