{% extends 'back.html.twig' %}


{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
		<div class="test">
			{{ form_widget(form.recipient, { 'attr': {'class': 'none'} }) }}
		</div>
		
		<div class="p-2">Nom :
			{{ user.name }}</div>
		<div class="p-2">Prénom :
			{{ user.username }}</div>
		<div class="p-2">Email :
			{{ user.email }}</div>
		{% if user.phone != NULL %}
			<div class="p-2">Téléphone :
				{{ user.phone }}</div>
		{% endif %}

		<div class="p-2">
			{{form_label(form.message)}}
			{{ form_widget(form.message) }}
		</div>
		
		<p class="help p-2">*Obligatoire</p>
		<button class="btn btn-primary p-2 ml-2" type="submit">Envoyer</button>

		{{ form_end(form) }}
	</div>

{% endblock %}
