{% extends 'back.html.twig' %}


{% block body %}
<div class="shadow-sm p-3 mb-5 bg-white rounded form">
	{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}

    <div class="input-cont">Expediteur : <span>{{ user.email }}</span></div>
    {% if user.phone != NULL %}
        <div class="input-cont">Téléphone : <span>{{ user.phone }}</span></div>
    {% endif %}
	<div class="input-cont">
		{{ form_label(form.recipient) }}
		{{ form_widget(form.recipient) }}
		<div class="border2"></div>
	</div>
	
	<div class="input-cont">
		{{form_label(form.message)}}
		{{ form_widget(form.message) }}
		<div class="border2"></div>
	</div>
	<p class="help">
		*Obligatoire
	</p>
	<input type="submit" value="Envoyer">
	{{ form_end(form) }}
</div>
{% endblock %}