{% extends "back.html.twig" %}
{% block body %}
<div class="content m-5">
    <table class="table">
        <thead>
            <tr>
                <th>De {% if contact.sender %}
                        {{ contact.sender.email}}
                    {% else %}
                        {{ contact.email}}
                    {% endif %}</th>
                <th>Reçu le {{ contact.createdAt|date('d/m/Y à H:i') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Message {{ contact.message}}</td>
                <td><a class="btn btn-danger text-light" href="{{ path("notif_delete", {id: contact.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">Supprimer</a></td>
            </tr>
        </tbody>
    </table>
</div>




{% endblock %}
