{% extends "back.html.twig" %}

{% block body %}


<div class="shadow-sm p-3 mb-5 bg-white rounded form">
    <h1 class="mb-4">Vos message(s)</h1>
    <div class="mb-4">
        <a class="btn btn-primary" href="{{ path('admin') }}">Retour</a>
        <a class="btn btn-primary " href="{{ path("notif_new") }}">Nouveau message<a/>
    </div>
    <div class="font-weight-bold d-flex mt-4 mb-2">
        <p class="mr-4">Reçus : {{ app.user.received|length }}</p>
        <p>Envoyés : {{ app.user.sent|length }}</p>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>De</th>
                    <th>Reçu le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for message in app.user.received %}
                {% if message.isRead == 1 %}
                    <tr class="no_color">
                    {# tu peux modifier si tu veux, seb. Je te laisse gérer ça #}
                {% else %}
                    <tr class="color"> 
                {% endif %}
                    {% if message.sender %}
                        <td>{{ message.sender.email }}</td>
                    {% else %}
                        <td>{{ message.email }}</td>
                    {% endif %}
                        <td>{{ message.createdAt|date('d/m/Y à H:i') }}</td>
                        <td>
                            <a class="action btn btn-info text-light" href="{{ path("notif_show_admin", {id: message.id}) }}">Voir</a>
                            <a class="btn btn-danger text-light" href="{{ path("notif_delete", {id: message.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="18">Pas d'éléments</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
