{% extends "back.html.twig" %}
{% block body %}
<div class="content m-5">
    <table class="table">
        <thead>
            <tr>
                <th>De</th>
                <th>Message</th>
                <th>Reçu le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if contact.sender %}
                        {{ contact.sender.email}}
                    {% else %}
                        {{ contact.email}}
                    {% endif %}
                </td>
                <td>{{ contact.message}}</td>
                <td>{{ contact.createdAt|date('d/m/Y à H:i') }}</td>
                <td><a class="btn btn-danger text-light" href="{{ path("notif_delete", {id: contact.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">Supprimer</a></td>
               

            </tr>
        </tbody>
    </table>
</div>




{% endblock %}
