{% extends 'back.html.twig' %}

{% block title %}Éditer le Département
{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">

		<h1 class="mb-5">Utilisateur</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ user.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ user.name }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ user.username }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>
						{% if user.phone is empty %}
							Non renseigner
						{% else %}
							{{ user.phone }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Crée le</th>
					<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="flex">
		<a class="btn btn-primary ml-5" href="{{ path('utilisateur_index') }}">Retour</a>
		{{ include('admin/_delete_form_user.html.twig') }}
	</div>
{% endblock %}
