{% extends 'back.html.twig' %}

{% block title %}
	Les utilisateurs
{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">

		<h1 class="mb-5">Utilisateurs</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Téléphone</th>
                    <th>Crée le</th>
                    <th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.name }}</td>
						<td>{{ user.username }}</td>
						<td>
							{% if user.phone is empty %}
                                Non renseigner
                            {% else %}
                                {{ user.phone }}
                            {% endif %}
                        </td>
                        <td>{{ user.createdAt | date('d/m/Y') }} à {{ user.createdAt | date('H:i') }}</td>
	                    <td>
							<a href="{{ path('utilisateur_show', {'id': user.id}) }}">Voir</a>
							<a href="{{ path('utilisateur_edit', {'id': user.id}) }}">Éditer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'éléments</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}

