{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="p-5">

<<<<<<< HEAD
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
=======
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

>>>>>>> 1faf82bf131df2266374ed720edf3b98191672fe
	{{ form_widget(form) }}
	<button class="btn btn-info">{{ button_label|default('Ajoutez') }}</button>
	{{ form_end(form) }}
</div>
<<<<<<< HEAD
=======

>>>>>>> 1faf82bf131df2266374ed720edf3b98191672fe
