{% extends 'back.html.twig' %}

{% block title %}
	Les Départements
{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		<h1 class="mb-5">Departement</h1>
		<a class="btn btn-primary mb-2" href="{{ path('admin') }}">Retour</a>
		<a class="btn btn-primary mb-2" href="{{ path('departement_new') }}">Ajouter un département</a>
		<table class="table">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Code Postal</th>
					<th>Description</th>
                    <th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for departement in departements %}
					<tr>
						<td>{{ departement.title }}</td>
						<td>{{ departement.codePostal }}</td>
						<td>{{ departement.description }}</td>
	
						<td>
							<a class="action" href="{{ path('departement_show', {'id': departement.id}) }}">Voir</a>
							<a class="action" href="{{ path('departement_edit', {'id': departement.id}) }}">Éditer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'éléments</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	

{% endblock %}
