{% extends 'back.html.twig' %}

{% block title %}Étude de Maître Régis Richard - Éditer le Département

{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		<h1 class="mb-5">Departement</h1>
		<div class="flex mb-3">
			<a class="btn btn-primary " href="{{ path('departement_index') }}">Retour</a>
			{{ include('departement/_delete_form.html.twig') }}
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ departement.id }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ departement.title }}</td>
				</tr>
				<tr>
					<th>CodePostal</th>
					<td>{{ departement.codePostal }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ departement.description }}</td>
				</tr>
				<tr>
					<th>Crée le</th>
					<td>{{ departement.createdAt ? departement.createdAt|date('d/m/Y à H:i') : '' }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	
{% endblock %}
