{% extends 'back.html.twig' %}

{% block title %}Ville
{% endblock %}

{% block body %}
	<div class="shadow-sm p-3 mb-5 bg-white rounded form">
		<h1 class="mb-5">Ville</h1>
		<a class="btn btn-primary mb-2" href="{{ path('admin') }}">Retour</a>
		<a class="btn btn-primary mb-2" href="{{ path('ville_new') }}">Ajouter une ville</a>
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>CodePostal</th>
					<th>Description</th>
					<th>CreatedAt</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for ville in villes %}
					<tr>
						<td>{{ ville.title }}</td>
						<td>{{ ville.codePostal }}</td>
						<td>{{ ville.description }}</td>
						<td>{{ ville.createdAt ? ville.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a class="action" href="{{ path('ville_show', {'id': ville.id}) }}">Voir</a>
							<a class="action" href="{{ path('ville_edit', {'id': ville.id}) }}">Éditer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d'éléments</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	
{% endblock %}
