{% extends 'back.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1>Ville</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CodePostal</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.title }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>{{ ville.description }}</td>
                <td>{{ ville.createdAt ? ville.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ville_show', {'id': ville.id}) }}">Voir</a>
                    <a href="{{ path('ville_edit', {'id': ville.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'éléments</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-primary ml-5 p-2" href="{{ path('ville_new') }}">Créez une nouvelle Ville</a>
{% endblock %}
