<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('/') }}">Home</a></li>
                <li><a href="{{ path('presentation') }}">Présentation</a></li>
                <li><a href="{{ path('competence') }}">Competence</a></li>
                <li><a href="{{ path('annonces') }}"></a></li>
                <li><a href="{{ path('') }}"></a></li>
                <li><a href="{{ path('') }}"></a></li>
                {% if is_granted('ROLE_USER') %}
                    {{ app.user.email }}
                    <li><a href="{{ path('app_logout') }}">Deconextion</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('admin') }}">Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('app_login') }}">Conextion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
