<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="{{ path('home') }}">Home</a></li>
					<li><a href="{{ path('presentation') }}">Présentation</a></li>
					<li><a href="{{ path('competence') }}">Competence</a></li>
					<li><a href="{{ path('annonces') }}">Annonces</a></li>
					<li><a href="{{ path('contact') }}">Contact</a></li>
					<li><a href="{{ path('conditions_generales') }}">Conditions Generales</a></li>
					<li><a href="{{ path('mentions_legales') }}">Mentions Legales</a></li>
					<li><a href="{{ path('profile') }}">Espace Client</a></li>
					{% if is_granted('ROLE_USER') %}
						{{ app.user.email }}
					<li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a href="{{ path('admin') }}">Admin</a>
							</li>
						{% endif %}
					{% else %}
						<li>
							<a href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li>
							<a href="{{ path('app_register') }}">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>
	
		{% block body %}{% endblock %}
		
	</body>
	
</html>
