{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="p-5">
	{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
	{{ form_row(form.image,{'id': 'customFileInput'}) }}
	{# Vérifier si la route est "annonces_dit" : on affiche les images #}
	{% if app.request.attributes.get('_route') == 'annonce_edit' %}
		<p>Image(s) de l'annonce</p>
		<div class="flex">
			{% for image in annonce.images %}
				{% if annonce.images != null %}
					<div class="images mb-5">
						<div class="img m-2"><img src="{{ asset('assets/uploads/'~ image.name) }}" alt=""></div>
						<a class="ml-4" href="{{ path('annonce_delete_image', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">supprimer</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>

	{% endif %}
	<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
	{{ form_end(form) }}
</div>
<script>
	document.querySelector('.custom-file-input').addEventListener('change', function (e) {
var name = document.getElementById("customFileInput").files[0].name;
var nextSibling = e.target.nextElementSibling
nextSibling.innerText = name
})
</script>
